<h1 mat-dialog-title>Kletterfels anlegen</h1>
<mat-dialog-content [formGroup]="form">
  <div class="form-field">
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Standort</mat-label>
      <input matInput formControlName="location">
    </mat-form-field>
  </div>
  <div>
    <label id="difficulty-label"><b>Schwierigkeitsgrad</b></label>
    <mat-radio-group aria-labelledby="difficulty-label" class="radio-group" formControlName="difficulty">
      <mat-radio-button class="radio-button" value="einfach">einfach</mat-radio-button>
      <mat-radio-button class="radio-button" value="mittel">mittel</mat-radio-button>
      <mat-radio-button class="radio-button" value="schwer">schwer</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <label id="bolting-label"><b>Absicherung</b></label>
    <mat-radio-group aria-labelledby="bolting-label" class="radio-group" formControlName="bolting">
      <mat-radio-button class="radio-button" value="schlecht">schlecht</mat-radio-button>
      <mat-radio-button class="radio-button" value="okay">okay</mat-radio-button>
      <mat-radio-button class="radio-button" value="gut">gut</mat-radio-button>
      <mat-radio-button class="radio-button" value="sehr gut">sehr gut</mat-radio-button>
    </mat-radio-group>
  </div>
</mat-dialog-content>

<div mat-dialog-actions class="action-bar">
  <button mat-raised-button (click)="onCancel()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>Speichern</button>
</div>

