<h1 mat-dialog-title>Kletterfels anlegen</h1>
<div mat-dialog-content>
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Standort</mat-label>
    <input matInput [(ngModel)]="data.location">
  </mat-form-field>
  <div>
    <label id="difficulty-label">Schwierigkeitsgrad</label>
    <mat-radio-group aria-labelledby="difficulty-label" class="difficulty-radio-group">
      <mat-radio-button class="difficulty-radio-button" value="easy">einfach</mat-radio-button>
      <mat-radio-button class="difficulty-radio-button" value="medium">mittel</mat-radio-button>
      <mat-radio-button class="difficulty-radio-button" value="hard">schwer</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCancel()">Abbrechen</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.name" cdkFocusInitial>Speichern</button>
</div>

