<app-header></app-header>

<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile>
    <div class="container" fxLayout="row">
      <h2>Kletterfelsliste</h2>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" (click)="openDialog()">
      + Neuen Kletterfels anlegen
    </button>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="400px">
  <mat-grid-tile>Table</mat-grid-tile>
  <li *ngIf="name">
    Neuer Kletterfels: <i>{{name}}</i>
  </li>
</mat-grid-list>




