<app-header></app-header>
<!--
<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile>
    <div class="container" fxLayout="row">
      <h2>Kletterfelsliste</h2>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    Button
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="400px">
  <mat-grid-tile>Table</mat-grid-tile>
</mat-grid-list>-->
<div fxLayout="row" fxLayoutAlign="none">
  <div fxFlex="20%">Kletterfelsliste</div>
  <div fxFlex="20%">Button</div>
</div>

<!--
<div fxLayout="column" fxLayoutAlign="space-around stretch">

  <div>Table</div>
</div>-->




